body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #1F2937;
  color: #F9FAF8;
}

.light {
  background-color: #F9FAF8;
  color: #1F2937;
}

.gray {
  background-color: #E5E7EB;
}

.blue {
  color: #F9FAF8;
  background-color: #3882F6;
}

.header h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  align-items: center;
}

.links {
  display: flex;
  gap: 12px;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

li {
    list-style: none;
}

img {
  width: 600px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
}

.hero button {
  border-radius: 10px;
  padding: 8px 24px;
  border: none;
}

.hero-left {
  width: 400px;
}

.information {
  text-align: center;
  padding: 50px;
}

.information h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card p {
  width: 200px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
  padding: 50px 300px;
}

.testimonial .quote {
  align-self: center;
}

.testimonial .author {
  align-self: flex-end;
  font-style: normal;
  font-weight: bolder;
}

.call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  margin: 50px 300px;
  border-radius: 10px;
}
.call-to-action button {
  border: 2px solid #E5E7EB;
  border-radius: 10px;
  padding: 5px 25px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {

  .header {
    padding: 0;
    justify-content: space-around;
  }

  .hero {
    justify-content: space-around;
    gap: 20px;
    padding: 0;
  }

  .testimonial {
    padding: 10px;
  }

  .call-to-action {
    flex-direction: column;
    padding: 10px;
    margin: 10px 10px;
  }

  .hero-right {
    display: none;
  }
}